<h1>Ember Table Bug Reproduction</h1>

<h3>Ember Verson: {{emberVersion}} (working)</h3>

<div>
  <EmberTable as |t|>
    <t.head @columns={{columns}} />
    <t.body @rows={{rows}} />
  </EmberTable>
</div>